.navbar-container{
    background-color: #2C3E50;
    height: 10vh;
    max-width:100%;
    width:100%;
    position:fixed !important;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    overflow:hidden;
    z-index:5;
}

.logo-and-title{
    color:white;
    float:left;
    font-size: 1.76rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 7%;
}

.link-div{
    color:white;
    font-size: 1.5rem;
    padding-right:7%;
}

.link-div a{
    text-decoration: none;
    color:white;
    padding:1.2rem;
}

#home-link:hover{
    background-color: #ffffff27;
}

/* footer container */
.footer-container{
    background-color: #2C3E50;
    height: 40vh;
    width:100%;
    overflow: hidden;
}