.newsContainer {
    margin-top: 10vh;
    margin-right: 7%;
    margin-left: 7%;
}

.main-heading-container {
    padding-top: 3%;
}

.main-heading-container h1, .main-heading-container h3 {
    margin-bottom: 1%;
}

.news-container {
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    min-height: 50vh;
    margin-bottom: 2%;
}

.date-input-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

button {
    margin-left: 5%;
    width: 15%;
    height: 40px;
    align-self: center;
    border-radius: 50px;
    border: none;
    background-color: rgb(82,190,215);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(64, 151, 170);
}

.articles-container {
    margin-top: 5%
}

@media screen and (max-width: 800px) {

    .date-input-container {
        flex-direction: column;
    }

    button {
        width: 50%;
    }


}